.headerSpacer {
  flex: 1 1 auto;
}

a {
  text-decoration:rgb(3, 59, 78);
  color: rgb(17, 17, 17);
}

ul {
  margin: auto;
}

.bgHeader {

  background-color: #aa8ad383;
 
}

mat-form-field {
  margin: 10px 0px;
  font-size: 15px;
  width: 300px;
  padding: 7px;
}

.dropdown-item{
  background-color: #15161534;
}


a:hover, a:active{
  color: lightgray;
}
