<div class="bgComponent">
    <div class="form">
      <mat-card class="card">
        <mat-card-title>Enter your new password</mat-card-title>
        <mat-card-content>
          <div class="container">
            <mat-form-field>
              <input
                [(ngModel)]="passwordData.password"
                type="password"
                matInput
                placeholder="Password"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                [(ngModel)]="passwordData.passwordConfirm"
                type="password"
                matInput
                placeholder="Confirm Password"
                required
              />
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="getRecoverPassword()" class="button" mat-raised-button>Send request</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  